
<div class="verification">
  <div class="verification__box">
    <h4 class="text-center verification__box__title">
      <strong>Alcanzaste el límite de intentos</strong>
    </h4>
    <h6 class="text-center mb-5">
      Inténtalo de nuevo en 10 minutos.
    </h6>
    <div class="row">
      <div class="col-md-6 offset-md-3 mb-4">
          <a href="#" class="btn btn-primary disabled w-100" tabindex="-1" role="button" aria-disabled="true">
          reenviar código</a> 
        </div>
      </div>
      <div class="col-md-12">
        <p class="text-center">
          ¿Necesitas ayuda? <br>
          Llámanos al <a href="tel:6006003600"><strong>600 600 3600</strong></a>
        </p>
      </div>
    </div>
</div>

<div class="verification">
  <div class="verification__box">
    <div class="text-center">
      <img src="../assets/svg/sms.svg" class="mb-4" />
    </div>
    <h4 class="text-center verification__box__title">
      <strong>Validación en dos pasos</strong>
    </h4>
    <h6 class="text-center mb-2">
      Para proteger tu cuenta y validar que eres tú quién está iniciando sesión, ingresa el código que enviamos por SMS al
    </h6>
    <h5 class="text-center mb-4">
      <strong>
        *** *** 345
      </strong>
    </h5>
    <div class="form-group mb-5">
     <div class="verification__group">
      <p class="label">
        Ingresa el código de verificación
      </p>
      <div class="verification__group__flex">
        <input type="text" class="form-control">
        <input type="text" class="form-control">
        <input type="text" class="form-control">
        <input type="text" class="form-control">
        <input type="text" class="form-control">
        <input type="text" class="form-control">
      </div>
      <small class="text-danger">Código incorrecto. Te quedan 2 intentos</small>
     </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3 mb-4">
          <p class="mb-2 text-center">
            ¿No recibiste el SMS?
          </p>
          <a href="#" class="btn btn-sm btn-outline-secondary disabled w-100" tabindex="-1" role="button" aria-disabled="true">
          reenviar código en 00:30</a> 
        </div>
      </div>
      <div class="col-md-12">
        <p class="text-center">
          ¿Cambiaste tu número de celular? <br>
          Llámanos al <a href="tel:6006003600"><strong>600 600 3600</strong></a>
        </p>
      </div>
    </div>
</div>

<div class="modalverification" [ngClass]="id == 1 ? 'modalverification--active' : ''">
  <div class="modalverification__body">
    <button class="modalverification__close" (click)="verificationGo(0)">
      <i class="material-icons">close</i>
    </button>
    <div class="text-center">
      <img src="../assets/svg/sms.svg" />
    </div>
    <h5 class="modalverification__title">
      <strong>Registra tu número de contacto</strong>
    </h5>
    <p class="mb-0">
      Por favor, llámanos al <a href="tel:6006003600"><strong>600 600 3600</strong></a> y registra tu número de celular para recibir el código de autenticación y acceder a la plataforma. Esta medida garantiza mayor protección de tus datos y una experiencia digital más segura.
    </p>
  </div>
  
</div>