<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumbs">
          <ul>
            <li class="textcolor">
              <a href="/home" class="linkcolor">
                Inicio
              </a>
            </li>
            <li class="textcolor">
              <p>
                Prestadores preferentes
              </p>
            </li>
          </ul>
        </div>
        <section class="m-flex m-section-header">
          <h1 class="color-text-bl title-back textcolor">
            Prestadores preferentes
            <a href="/home" class="textcolor">
              <span class="material-icons">&#xe5c4;</span>
            </a>
          </h1>
          <a href="" class="m-flex link linkcolor">
            <span class="material-icons md-18">&#xf090;</span>
            <span class="section-header__download-txt">Descargar dashboard</span>
          </a>
        </section>
      </div>
      <div class="col-md-12">
        <section class="m-flex m-section-header">
          <h3 class="color-text-bl textcolor">Coberturas preferentes de mi plan</h3>
        </section>
      </div>
      <div class="col-md-10">
        <div class="mb--24 table-prestadores">
          <table class="id-table id-table--mobile table">
           <thead>
            <tr>
             <th>Prestador</th>
             <th>Cobertura hospitalaria</th>
             <th>Cobertura ambulatoria</th>
             <th>Cobertura urgencia</th>
            </tr>
           </thead>
           <tbody>
            <tr>
             <td>
              <span class="term">Prestador</span>
              <span class="val">
                <img src="../assets/img/davila.png" alt="" />
              </span>
             </td>
             <td>
              <span class="term">
                Cobertura hospitalaria
              </span>
              <span class="val">90%</span>
             </td>
             <td>
              <span class="term">Cobertura ambulatoria</span>
              <span class="val">80%</span>
             </td>
             <td>
              <span class="term">Cobertura urgencia</span>
              <span class="val">80%</span>
             </td>
            </tr>
            <tr>
             <td>
              <span class="term">Prestador</span>
              <span class="val">
                <img src="../assets/img/davila.png" alt="" />
              </span>
             </td>
             <td>
              <span class="term">
               <div class="d-flex align-items-center">
                <span class="mr-2">Cobertura hospitalaria</span>
               </div>
              </span>
              <span class="val">90%</span>
             </td>
             <td>
              <span class="term">Cobertura ambulatoria</span>
              <span class="val">80%</span>
             </td>
             <td>
              <span class="term">Cobertura urgencia</span>
              <span class="val">80%</span>
             </td>
            </tr>
            <tr>
             <td>
              <span class="term">Prestador</span>
              <span class="val">
                <img src="../assets/img/davila.png" alt="" />
              </span>
             </td>
             <td>
              <span class="term">
                Cobertura hospitalaria
              </span>
              <span class="val">90%</span>
             </td>
             <td>
              <span class="term">Cobertura ambulatoria</span>
              <span class="val">80%</span>
             </td>
             <td>
              <span class="term">Cobertura urgencia</span>
              <span class="val">80%</span>
             </td>
            </tr>
            <tr>
             <td>
              <span class="term">Prestador</span>
              <span class="val">
                <img src="../assets/img/davila.png" alt="" />
              </span>
             </td>
             <td>
              <span class="term">
                Cobertura hospitalaria
              </span>
              <span class="val">90%</span>
             </td>
             <td>
              <span class="term">Cobertura ambulatoria</span>
              <span class="val">80%</span>
             </td>
             <td>
              <span class="term">Cobertura urgencia</span>
              <span class="val">80%</span>
             </td>
            </tr>
           </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>