<div class="verification">
  <div class="verification__box">
    <div class="text-center">
      <img src="./assets/svg/sms.svg" class="mb-4" />
    </div>
    <h4 class="text-center verification__box__title">
      <strong>Validación en dos pasos</strong>
    </h4>
    <h6 class="text-center mb-2">
      Para proteger tu cuenta y validar que eres tú quién está iniciando sesión, ingresa el código que enviamos por SMS al
    </h6>
    <h5 class="text-center mb-4">
      <strong>
        *** *** 345
      </strong>
    </h5>
    <div class="form-group mb-5">
     <div class="verification__group">
      <p class="label">
        Ingresa el código de verificación
      </p>
      <div class="verification__group__flex" id="inputbox">
        <input type="text" class="form-control" maxlength="1" (keyup)="verificationKey(1)">
        <input type="text" class="form-control" maxlength="1" (keyup)="verificationKey(2)">
        <input type="text" class="form-control" maxlength="1" (keyup)="verificationKey(3)">
        <input type="text" class="form-control" maxlength="1" (keyup)="verificationKey(4)">
        <input type="text" class="form-control" maxlength="1" (keyup)="verificationKey(5)">
        <input type="text" class="form-control" maxlength="1">
      </div>
      <small class="text-danger">Código incorrecto. Te quedan 2 intentos</small>
     </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3 mb-4">
          <p class="mb-2 text-center">
            ¿No recibiste el SMS?
          </p>
          <a href="#" class="btn btn-sm btn-outline-secondary disabled w-100" tabindex="-1" role="button" aria-disabled="true">
          reenviar código en 00:30</a> 
        </div>
      </div>
      <div class="col-md-12">
        <p class="text-center">
          ¿Cambiaste tu número de celular? <br>
          Llámanos al <a href="tel:6006003600"><strong>600 600 3600</strong></a>
        </p>
      </div>
    </div>
</div>