<div class="verification">
  <div class="verification__box" [ngClass]="id == 1 ? 'verification__box--active' : ''">
    <div class="text-center">
      <img src="./assets/img/shield.png" class="mb-4" />
    </div>
    <h4 class="text-center verification__box__title">
      <strong>Ingresa tu RUT, recibe un código a tu celular y crea tu nueva contraseña</strong>
    </h4>
    <div class="row">
      <div class="col-md-10 offset-md-1 mb-5">
        <div class="form-group fg-icon fg-icon-action">
         <input type="text" class="form-control" id="rut" placeholder="RUT">
         <i class="material-icons">assignment_ind</i>
         <label for="rut">RUT</label>
         <small>Texto de ayuda y validación</small>
        </div>
        <button type="button" class="btn btn-primary w-100" (click)="verificationGo(2)">Enviar Código</button> 
      </div>
      <div class="col-md-10 offset-md-1">
        <a class="back-btn verification__center" (click)="verificationGo(0)">
         <i class="material-icons">
         keyboard_arrow_left
         </i>
         <p>Volver</p>
        </a>
      </div>
    </div>
  </div>

  <div class="verification__box" [ngClass]="id == 2 ? 'verification__box--active' : ''">
    <div class="text-center">
      <img src="./assets/svg/sms.svg" class="mb-4" />
    </div>
    <h4 class="text-center verification__box__title">
      <strong>Te enviaremos un código de verificación al *** *** 345</strong>
    </h4>
    <div class="row">
      <div class="col-md-10 offset-md-1 mb-5">
        <button type="button" class="btn btn-primary w-100 mb-3" (click)="verificationGo(3)">Enviar Código</button> 
        <button type="button" class="btn btn-outline-primary w-100" (click)="verificationGo(0)">Cancelar</button> 
      </div>
      <div class="col-md-12 mb-5">
        <p class="text-center mb-0">
          ¿Cambiaste tu número de celular? <br>
          Llámanos al <a href="tel:6006003600"><strong>600 600 3600</strong></a>
        </p>
      </div>
      <div class="col-md-10 offset-md-1">
        <a class="back-btn verification__center" (click)="verificationGo(1)">
         <i class="material-icons">
         keyboard_arrow_left
         </i>
         <p>Volver</p>
        </a>
      </div>
    </div>
  </div>

  <div class="verification__box" [ngClass]="id == 3 ? 'verification__box--active' : ''">
    <div class="text-center">
      <img src="./assets/svg/sms.svg" class="mb-4" />
    </div>
    <h4 class="text-center verification__box__title">
      <strong>Ingresa el código que enviamos por SMS al *** *** 345</strong>
    </h4>
    <div class="form-group mb-5">
     <div class="verification__group">
      <p class="label">
        Ingresa el código de verificación
      </p>
      <div class="verification__group__flex" id="keybox">
        <input type="text" class="form-control" maxlength="1" (keyup)="verificationKey('keybox',1)">
        <input type="text" class="form-control" maxlength="1" (keyup)="verificationKey('keybox',2)">
        <input type="text" class="form-control" maxlength="1" (keyup)="verificationKey('keybox',3)">
        <input type="text" class="form-control" maxlength="1" (keyup)="verificationKey('keybox',4)">
        <input type="text" class="form-control" maxlength="1" (keyup)="verificationKey('keybox',5)">
        <input type="text" class="form-control" maxlength="1">
      </div>
      <small class="text-danger">Código incorrecto. Te quedan 2 intentos</small>
     </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3 mb-4">
        <p class="mb-2 text-center" (click)="verificationGo(4)">
          ¿No recibiste el SMS?
        </p>
        <a href="#" class="btn btn-sm btn-outline-secondary disabled w-100" tabindex="-1" role="button" aria-disabled="true">
          reenviar código en 00:30</a> 
      </div>
      <div class="col-md-12">
        <p class="text-center">
          ¿Cambiaste tu número de celular? <br>
          Llámanos al <a href="tel:6006003600"><strong>600 600 3600</strong></a>
        </p>
      </div>
    </div>
  </div>

  <div class="verification__box" [ngClass]="id == 4 ? 'verification__box--active' : ''">
    <h4 class="text-center verification__box__title">
      <strong>Alcanzaste el límite de intentos</strong>
    </h4>
    <h6 class="text-center mb-5">
      Inténtalo de nuevo en 10 minutos.
    </h6>
    <div class="row">
      <div class="col-md-6 offset-md-3 mb-4">
          <a href="#" class="btn btn-primary disabled w-100" tabindex="-1" role="button" aria-disabled="true">
          reenviar código</a> 
        </div>
      </div>
      <div class="col-md-12">
        <p class="text-center">
          ¿Necesitas ayuda? <br>
          Llámanos al <a href="tel:6006003600"><strong>600 600 3600</strong></a>
        </p>
      </div>
    </div>
</div>