<div class="body"></div>

<div class="modalpassword">

  <div class="modalpassword__body" [ngClass]="active? 'modalpassword__body--active' : ''">
    <button class="modalpassword__close" (click)="passwordClose()">
      <i class="material-icons">close</i>
    </button>
    <h5 class="modalpassword__title">
      <strong>Acepta el consentimiento y agiliza tus trámites GES</strong>
    </h5>
    <h6 class="mb-4">
      Estamos reforzando la seguridad de tu Sucursal Virtual. Por favor, ayúdanos completando estos pasos. 
    </h6>
    <div class="row">
      <div class="col-md-6 modalpassword__step mb-4">
        <p class="mb-2">
          <span class="modalpassword__circle">1</span>
          Recibe tus recetas médicas electrónicas de manera segura.
        </p>
        <div class="modalpassword__img">
          <img src="assets/img/beneficio1.png" alt="Icono">
        </div>
      </div>
      <div class="col-md-6 modalpassword__step mb-4">
        <p class="mb-2">
          <span class="modalpassword__circle">2</span>
          Cuenta con la disponibilidad de tus medicamentos recetados o bioequivalentes.
        </p>
        <div class="modalpassword__img">
          <img src="assets/img/beneficio2.png" alt="Icono">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 modalpassword__step mb-4">
        <p class="mb-2">
          <span class="modalpassword__circle">3</span>
          Evita errores en la interpretación de tus prescripciones médicas.
        </p>
        <div class="modalpassword__img">
          <img src="assets/img/beneficio3.png" alt="Icono">
        </div>
      </div>
      <div class="col-md-6 modalpassword__step mb-4">
        <p class="mb-2">
          <span class="modalpassword__circle">4</span>
          Contribuye al medio ambiente reduciendo las impresiones de recetas.
        </p>
        <div class="modalpassword__img">
          <img src="assets/img/beneficio4.png" alt="Icono">
        </div>
      </div>
    </div>
  </div>

</div>