<div class="body"></div>

<div class="modalpassword">

  <div class="modalpassword__body" [ngClass]="active? 'modalpassword__body--active' : ''">
    <button class="modalpassword__close" (click)="passwordClose()">
      <i class="material-icons">close</i>
    </button>
    <h5 class="modalpassword__title">
      <strong>Por seguridad actualiza tus datos</strong>
    </h5>
    <div class="modalpassword__step" [ngClass]="id == 1 ? 'modalpassword__step--active' : ''" id="step1">
      <p class="mb-0">
        Paso 1/2
      </p>
      <div class="modalpassword__bar modalpassword__bar-1"></div>
      <h6 class="modalpassword__title">
        <strong>Ingresa tu nueva contraseña </strong>
      </h6>
      <div class="form-group fg-icon" [ngClass]="visibility? 'form-group--visible' : '' ">
       <input [type]="visibility? 'text':'password'" class="form-control" id="pass" placeholder="Contraseña">
       <i class="material-icons">lock</i>
       <div class="modalpassword__toggle" (click)="passwordToggle()">
         <i class="material-icons">visibility_off</i>
         <i class="material-icons">visibility</i>
       </div>
       <label for="pass">Contraseña</label>
       <small>Utiliza 6 caracteres como mínimo</small>
      </div>
      <div class="form-group fg-icon" [ngClass]="visibility? 'form-group--visible' : '' ">
       <input [type]="visibility? 'text':'password'" class="form-control" id="pass2" placeholder="Nueva contraseña">
       <i class="material-icons">lock</i>
       <div class="modalpassword__toggle" (click)="passwordToggle()">
         <i class="material-icons">visibility_off</i>
         <i class="material-icons">visibility</i>
       </div>
       <label for="pass">Confirmar contraseña </label>
       <small>Las contraseñas no coinciden</small>
      </div>
      <div class="d-flex justify-content-end">
        <div class="">
          <button class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true" (click)="passwordGo(2)">Actualizar contraseña</button> 
        </div>
      </div>
    </div>
    <div class="modalpassword__step" [ngClass]="id == 2 ? 'modalpassword__step--active' : ''" id="step2">
      <p class="mb-0">
        Paso 2/2
      </p>
      <div class="modalpassword__bar modalpassword__bar-2"></div>
      <h6 class="modalpassword__title">
        <strong>Actualiza tus datos de contacto </strong>
      </h6>
      <div class="form-group fg-icon">
       <input type="email" class="form-control" id="email" placeholder="Correo electrónico">
       <i class="material-icons">mail</i>
       <label for="email">Correo electrónico</label>
       <small>Texto de ayuda y validación</small>
      </div>
      <div class="form-group fg-icon">
       <input type="tel" class="form-control" id="numero" placeholder="Teléfono">
       <i class="material-icons">local_phone</i>
       <label for="numero">Teléfono</label>
       <small>Texto de ayuda y validación</small>
      </div>
      <div class="d-flex justify-content-end">
        <div class="">
          <button class="btn btn-primary disabled" tabindex="-1" role="button" aria-disabled="true" (click)="passwordGo(1)">Actualizar datos</button> 
        </div>
      </div>
    </div>
  </div>

</div>