<div class="card-asegurado-wrapper">
  <div class="card-asegurado">
    <h3 class="card-asegurado__name">
      María Isabel Alemparte Vasquez
    </h3>
    <div class="card-asegurado__profile">
      <img src="" class="card-asegurado__profile__img" alt="">
    </div>
    <div>
      <h4 class="card-asegurado__label">
        RUT
      </h4>
      <p class="card-asegurado__value">
        19.307.468-5
      </p>
    </div>
    <div>
      <h4 class="card-asegurado__label">
        Fecha de nacimiento
      </h4>
      <p class="card-asegurado__value">
        4 de marzo de 1996
      </p>
    </div>
    <div>
      <h4 class="card-asegurado__label">
        Previsión
      </h4>
      <p class="card-asegurado__value">
        Isapre Banmédica
      </p>
    </div>
    <div>
      <h4 class="card-asegurado__label">
        Teléfono celular
      </h4>
      <p class="card-asegurado__value">
        993350999
      </p>
    </div>
    <div>
      <h4 class="card-asegurado__label">
        Correo electrónico
      </h4>
      <p class="card-asegurado__value">
        fdonoso@gmail.com
      </p>
    </div>
  </div>
</div>