<div class="card-asegurado-wrapper">
  <div class="card-asegurado">
    <div class="card-asegurado__content">
      <div class="card-asegurado__profile">
        <div class="card-asegurado__profile__content">
          <img src="" class="card-asegurado__profile__img" alt="">
          <div class="card-asegurado__profile__edit"></div>
        </div>
      </div>
      <div class="card-asegurado__data">
        <h3 class="card-asegurado__name">
          María Isabel Alemparte Vasquez
          <a href="" class="card-asegurado__data__edit">
            Editar datos
          </a>
        </h3>
        <div class="card-asegurado__info">
          <div class="card-asegurado__item">
            <h4 class="card-asegurado__label">
              RUT
            </h4>
            <p class="card-asegurado__value">
              19.307.468-5
            </p>
          </div>
          <div class="card-asegurado__item">
            <h4 class="card-asegurado__label">
              Fecha de nacimiento
            </h4>
            <p class="card-asegurado__value">
              4 de marzo de 1996
            </p>
          </div>
          <div class="card-asegurado__item">
            <h4 class="card-asegurado__label">
              Previsión
            </h4>
            <p class="card-asegurado__value">
              Isapre Banmédica
            </p>
          </div>
          <div class="card-asegurado__item">
            <h4 class="card-asegurado__label">
              Teléfono celular
            </h4>
            <p class="card-asegurado__value">
              993350999
            </p>
          </div>
          <div class="card-asegurado__item">
            <h4 class="card-asegurado__label">
              Correo electrónico
            </h4>
            <p class="card-asegurado__value">
              fdonoso@gmail.com
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-asegurado__edit">
      
    </div>
  </div>
</div>