<div class="card-asegurado-wrapper">

  <a class="card-message card-message--error">
    Datos actualizados exitosamente
    <i class="material-icons">close</i>
  </a>

  <div class="card-asegurado">
    <div class="card-asegurado__content">
      <div class="card-asegurado__profile">
        <div class="card-asegurado__profile__content">
          <img src="../assets/img/profile.png" class="card-asegurado__profile__img" alt="">
          <div class="card-asegurado__profile__edit">
            <i class="material-icons">edit</i>
          </div>
        </div>
      </div>
      <div class="card-asegurado__data">
        <h3 class="card-asegurado__name">
          María Isabel Alemparte Vasquez
        </h3>
        <div class="card-asegurado__info">
          <div class="card-asegurado__item">
            <h4 class="card-asegurado__label">
              RUT
            </h4>
            <p class="card-asegurado__value">
              19.307.468-5
            </p>
          </div>
          <div class="card-asegurado__item">
            <h4 class="card-asegurado__label">
              Fecha de nacimiento
            </h4>
            <p class="card-asegurado__value">
              4 de marzo de 1996
            </p>
          </div>
          <div class="card-asegurado__item card-asegurado__item--edit">
            <h4 class="card-asegurado__label">
              Previsión
            </h4>
            <p class="card-asegurado__value">
              Isapre Banmédica
            </p>
          </div>
          <div class="card-asegurado__item card-asegurado__item--edit">
            <h4 class="card-asegurado__label">
              Teléfono celular
            </h4>
            <p class="card-asegurado__value">
              993350999
            </p>
          </div>
          <div class="card-asegurado__item card-asegurado__item--edit">
            <h4 class="card-asegurado__label">
              Correo electrónico
            </h4>
            <p class="card-asegurado__value">
              fdonoso@gmail.com
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-asegurado__edit">
      <a href="">
        <i class="material-icons">edit</i>
        Editar datos
      </a>
    </div>
    <div class="card-asegurado__editform">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
           <select class="custom-select select2" id="exampleFormControlSelect1">
            <option>Selecciona</option>
            <option selected="">Isapre Banmédica</option>
            <option>Isapre Banmédica</option>
           </select>
           <label for="exampleFormControlSelect1">Previsión</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group fg-icon">
           <input type="email" class="form-control" id="email" placeholder="Teléfono" value="993350999">
           <i class="material-icons">phone_android</i>
           <label for="email">Teléfono celular</label>
           <small>Texto de ayuda y validación</small>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group fg-icon">
           <input type="email" class="form-control" id="email" placeholder="Correo electrónico" value="fdonoso@gmail.com">
           <i class="material-icons">mail</i>
           <label for="email">Correo electrónico</label>
           <small>Texto de ayuda y validación</small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 order-md-2">
          <a href="#" class="btn btn-primary disabled w-100" tabindex="-1" role="button" aria-disabled="true">
          actualizar datos</a> 
        </div>
        <div class="col-md-3 order-md-1 offset-md-6">
          <button type="button" class="btn btn-outline-secondary  w-100">Cancelar</button> 
        </div>
      </div>
    </div>
  </div>

  <div class="card-asegurado">
    <div class="card-asegurado__content">
      <div class="card-asegurado__profile">
        <div class="card-asegurado__profile__content">
          <img src="../assets/img/profile.png" class="card-asegurado__profile__img" alt="">
          <div class="card-asegurado__profile__edit">
            <i class="material-icons">edit</i>
          </div>
        </div>
      </div>
      <div class="card-asegurado__data">
        <h3 class="card-asegurado__name">
          María Isabel Alemparte Vasquez
        </h3>
        <div class="card-asegurado__info">
          <div class="card-asegurado__item">
            <h4 class="card-asegurado__label">
              RUT
            </h4>
            <p class="card-asegurado__value">
              19.307.468-5
            </p>
          </div>
          <div class="card-asegurado__item">
            <h4 class="card-asegurado__label">
              Fecha de nacimiento
            </h4>
            <p class="card-asegurado__value">
              4 de marzo de 1996
            </p>
          </div>
          <div class="card-asegurado__item card-asegurado__item--edit">
            <h4 class="card-asegurado__label">
              Previsión
            </h4>
            <p class="card-asegurado__value">
              Isapre Banmédica
            </p>
          </div>
          <div class="card-asegurado__item card-asegurado__item--edit">
            <h4 class="card-asegurado__label">
              Teléfono celular
            </h4>
            <p class="card-asegurado__value">
              993350999
            </p>
          </div>
          <div class="card-asegurado__item card-asegurado__item--edit">
            <h4 class="card-asegurado__label">
              Correo electrónico
            </h4>
            <p class="card-asegurado__value">
              fdonoso@gmail.com
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-asegurado__edit">
      <a href="">
        <i class="material-icons">edit</i>
        Editar datos
      </a>
    </div>
    <div class="card-asegurado__editform">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
           <select class="custom-select select2" id="exampleFormControlSelect1">
            <option>Selecciona</option>
            <option selected="">Isapre Banmédica</option>
            <option>Isapre Banmédica</option>
           </select>
           <label for="exampleFormControlSelect1">Previsión</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group fg-icon">
           <input type="email" class="form-control" id="email" placeholder="Teléfono" value="993350999">
           <i class="material-icons">phone_android</i>
           <label for="email">Teléfono celular</label>
           <small>Texto de ayuda y validación</small>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group fg-icon">
           <input type="email" class="form-control" id="email" placeholder="Correo electrónico" value="fdonoso@gmail.com">
           <i class="material-icons">mail</i>
           <label for="email">Correo electrónico</label>
           <small>Texto de ayuda y validación</small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 order-md-2">
          <a href="#" class="btn btn-primary disabled w-100" tabindex="-1" role="button" aria-disabled="true">
          actualizar datos</a> 
        </div>
        <div class="col-md-3 order-md-1 offset-md-6">
          <button type="button" class="btn btn-outline-secondary  w-100">Cancelar</button> 
        </div>
      </div>
    </div>
  </div>

  <div class="card-asegurado">
    <div class="card-asegurado__content">
      <div class="card-asegurado__profile">
        <div class="card-asegurado__profile__content">
          <img src="../assets/img/profile.png" class="card-asegurado__profile__img" alt="">
          <div class="card-asegurado__profile__edit">
            <i class="material-icons">edit</i>
          </div>
        </div>
      </div>
      <div class="card-asegurado__data">
        <h3 class="card-asegurado__name">
          María Isabel Alemparte Vasquez
        </h3>
        <div class="card-asegurado__info">
          <div class="card-asegurado__item">
            <h4 class="card-asegurado__label">
              RUT
            </h4>
            <p class="card-asegurado__value">
              19.307.468-5
            </p>
          </div>
          <div class="card-asegurado__item">
            <h4 class="card-asegurado__label">
              Fecha de nacimiento
            </h4>
            <p class="card-asegurado__value">
              4 de marzo de 1996
            </p>
          </div>
          <div class="card-asegurado__item card-asegurado__item--edit">
            <h4 class="card-asegurado__label">
              Previsión
            </h4>
            <p class="card-asegurado__value">
              Isapre Banmédica
            </p>
          </div>
          <div class="card-asegurado__item card-asegurado__item--edit">
            <h4 class="card-asegurado__label">
              Teléfono celular
            </h4>
            <p class="card-asegurado__value">
              993350999
            </p>
          </div>
          <div class="card-asegurado__item card-asegurado__item--edit">
            <h4 class="card-asegurado__label">
              Correo electrónico
            </h4>
            <p class="card-asegurado__value">
              fdonoso@gmail.com
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-asegurado__edit">
      <a href="">
        <i class="material-icons">edit</i>
        Editar datos
      </a>
    </div>
    <div class="card-asegurado__editform">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
           <select class="custom-select select2" id="exampleFormControlSelect1">
            <option>Selecciona</option>
            <option selected="">Isapre Banmédica</option>
            <option>Isapre Banmédica</option>
           </select>
           <label for="exampleFormControlSelect1">Previsión</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group fg-icon">
           <input type="email" class="form-control" id="email" placeholder="Teléfono" value="993350999">
           <i class="material-icons">phone_android</i>
           <label for="email">Teléfono celular</label>
           <small>Texto de ayuda y validación</small>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group fg-icon">
           <input type="email" class="form-control" id="email" placeholder="Correo electrónico" value="fdonoso@gmail.com">
           <i class="material-icons">mail</i>
           <label for="email">Correo electrónico</label>
           <small>Texto de ayuda y validación</small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 order-md-2">
          <a href="#" class="btn btn-primary disabled w-100" tabindex="-1" role="button" aria-disabled="true">
          actualizar datos</a> 
        </div>
        <div class="col-md-3 order-md-1 offset-md-6">
          <button type="button" class="btn btn-outline-secondary  w-100">Cancelar</button> 
        </div>
      </div>
    </div>
  </div>

</div>