<div class="container ffamily">
    <div class="row">
      <div class="col-md-12">
        <ng-modal-flexible 
          [modalConfig]="modalConfig"
          #modalOne>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam cupiditate veritatis facilis obcaecati facere ipsa in, ut nam pariatur nisi vitae dolor sed, iste id, earum harum debitis optio dolorum.
          </p>
        </ng-modal-flexible>
      </div>
      <div class="col-md-12">
        <div class="betamodal modal">
          <div class="row">
            <div class="col-md-12">
              <h3>
                ¿Cómo funciona un plan?
              </h3>
              <p>
                Lorem ipsum, dolor sit, amet consectetur adipisicing elit. Id dolor nemo odio quisquam ullam delectus voluptatibus adipisci, alias architecto aliquam rerum quaerat perferendis iure soluta nobis ipsa explicabo natus voluptatem.
              </p>
              <h4>
                Lorem ipsum, dolor sit amet consectetur
              </h4>
              <div class="row">
                <div class="col-lg-3 col-md-6">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem.
                  </p>
                  <img src="../assets/img/davila.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="container ffamily">

  <section class="m-flex m-section-header">
    <h1 class="textcolor">Sácale provecho a tu plan</h1>
    <a href="" class="m-flex link linkcolor">
      <span class="material-icons md-18">&#xf090;</span>
      <span class="section-header__download-txt">Descargar dashboard</span>
    </a>
  </section>

  <section class="section-wrapper">
    <div class="section--right mb--24">
      <div class="card-my-plan__wrapper">
        <div class="card-my-plan__left m-flex m-flex-main" id="mainbox">
          <div class="m-section-plan">
            <div class="card-plan__header sitebg">
              <strong class="card-plan__title">Mi Plan <span class="material-icons material-tooltip md-18" (click)="modalOne.openModal()">&#xe887;</span>
              </strong>
              <div class="m-title">Salud Preferente Lite Ultra AB/204</div>
              <div class="m-flex">
                <div class="m-title-descrip">
                  <span class="code-label">Código: </span>
                  <span class="code-value">BPRLU204AB</span>
                </div>
              </div>
            </div>
            <div class="card-plan__footer sitebg">
              <div class="card-plan__left">
                <p class="card-plan__footer-label">Tope general anual por beneficiario</p>
                <p class="card-plan__footer-value">9.500 UF</p>
              </div>
              <div class="card-plan__right">
                <p class="card-plan__footer-label">Arancel asociado a tu plan</p>
                <p class="card-plan__footer-value">B1</p>
              </div>
            </div>
            <div class="plan__toggle-box">
              <a class="plan__toggle" (click)="toggleDocuments()">
                <p class="textcolor">
                  {{ !isDocuemntsVisible ? 'VER DOCUMENTOS A DESCARGAR' : 'OCULTAR DOCUMENTOS A DESCARGAR' }}
                </p>
                <img
                  src="../assets/svg/arrow-fill.svg"
                  class="plan__toggle-icon"
                  [ngClass]="{ 'h-rotate--180': isDocuemntsVisible }"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="card-my-plan__right" *ngIf="isDocuemntsVisible">
          <div class="card-my-plan__links">
            <div class="card-my-plan__link linkcolor">
              <a href="#">
                <span class="material-icons md-18">&#xf090;</span>
                <span class="card-my-plan__link-label">
                  Descargar Mi Plan
                </span>
              </a>
              <span tooltip="<div class='tooltip-simple'>Conoce las coberturas, topes, prestadores y condiciones específicas de tu plan de salud.</div>" [options]="toolOptions" class="material-icons material-tooltip md-18">&#xe887;</span>
            </div>
            <div class="card-my-plan__link linkcolor">
              <a href="#">
                <span class="material-icons md-18">&#xf090;</span>
                <span class="card-my-plan__link-label">
                  Descargar cartilla valorizada
                </span>
              </a>
              <span tooltip="<div class='tooltip-simple'>Conoce las coberturas de tu plan expresadas en montos.</div>" [options]="toolOptions" class="material-icons material-tooltip md-18">&#xe887;</span>
            </div>
            <div class="card-my-plan__link linkcolor">
              <a href="">
                <span class="material-icons md-18">&#xf090;</span>
                <span class="card-my-plan__link-label">
                  Descargar arancel
                </span>
              </a>
              <span tooltip="<div class='tooltip-simple'>Conoce la lista de prestaciones que cubre tu plan de salud con un valor referencial.</div>" [options]="toolOptions" class="material-icons material-tooltip md-18">&#xe887;</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="c-card card-monthly-payment m-color-grow-min mb--24 card-monthly-payment--desktop">
      <div class="card-monthly-payment__header">
        <img src="../assets/svg/monthly_payment.svg" /><br />
        <div>
          <div class="card-monthly-payment__title textcolor">Pago mensual</div>
          <div class="m-amount textcolor">$ 199.248 / UF 6,65</div>
        </div>
      </div>
      <div class="card-monthly-payment__bottom">
        <a href="" class="link linkcolor">
          <span class="link__label">
            Ver detalle
          </span>
        </a>
        <img src="../assets/svg/arrow_forward.svg" />
      </div>
    </div>
  </section>

  <section class="m-flex m-content-plans">
    <div class="section--right section-2--wrapper">
      <div class="providers__wrapper">
        <h3 class="card-title h-m--0 textcolor">Prestadores preferentes</h3>
        <ul class="providers__list">
          <li class="providers__item">
            <img src="../assets/img/alemana.png" alt="" />
          </li>
          <li class="providers__item">
            <img src="../assets/img/andes.png" alt="" />
          </li>
          <li class="providers__item">
            <img src="../assets/img/condes.png" alt="" />
          </li>
          <li class="providers__item">
            <img src="../assets/img/davila.png" alt="" />
          </li>
          <li class="providers__item">
            <img src="../assets/img/indisa.png" alt="" />
          </li>
          <li class="providers__item">
            <img src="../assets/img/sm.png" alt="" />
          </li>
          <li class="providers__item">
            <img src="../assets/img/uc.png" alt="" />
          </li>
          <li class="providers__item">
            <img src="../assets/img/ucsc.png" alt="" />
          </li>
          <li class="providers__item">
            <img src="../assets/img/vespucio.png" alt="" />
          </li>
          <li class="providers__item">
            <img src="../assets/img/alemana.png" alt="" />
          </li>
          <li class="providers__item">
            <img src="../assets/img/alemana.png" alt="" />
          </li>
          <li class="providers__item">
            <img src="../assets/img/alemana.png" alt="" />
          </li>
        </ul>
        <div class="link-see-more__wrapper">
          <a href="/providers" class="link-see-more linkcolor">
            <div class="link__label">Ver todos mis prestadores preferentes</div>
            <img src="../assets/svg/arrow_forward.svg" />
          </a>
        </div>
      </div>

      <div class="c-card card-surplus m-color-grow-min">
        <div class="card-surplus__header">
          <img src="../assets/svg/my_surplus.svg" /><br />
          <div class="rigth">
            <div class="card-surplus__title textcolor">Mis Excedentes</div>
            <div class="m-amount textcolor">$ 199.248</div>
          </div>
        </div>
        <div class="link-see-more__wrapper">
          <a href="" class="link-see-more linkcolor">
            <div href="" class="link__label">Usar mis excedentes</div>
            <img src="../assets/svg/arrow_forward.svg" />
          </a>
        </div>
      </div>

      <div class="c-card card-monthly-payment m-color-grow-min mb--24 card-monthly-payment--mobile">
        <div class="card-monthly-payment__header">
          <img src="../assets/svg/monthly_payment.svg" /><br />
          <div>
            <div class="card-monthly-payment__title">Pago mensual</div>
            <div class="m-amount">$ 199.248 / UF 6,65</div>
          </div>
        </div>
        <div class="card-monthly-payment__bottom">
          <a href="" class="link__label linkcolor">Ver detalle</a>
          <img src="../assets/svg/arrow_forward.svg" />
        </div>
      </div>
    </div>

    <div class="c-card m-color-grow-min card-my-bonuses mb--24">
      <div class="h-width--100">
        <div class="card-surplus__top">
          <div class="card-surplus__title mb--12 textcolor">Mis bonificaciones</div>
        </div>
        <div class="card-bonuses">
          <div class="card-bonuses__img">
            <img src="../assets/svg/kinesiology.svg" />
          </div>
          <span>
            <p class="card-bonuses__label mt--0 mb--5 textcolor">Kinesiología</p>
            <p class="card-bonuses__value textcolor">4 sesiones</p>
          </span>
        </div>
        <span class="card-bonuses__line"></span>
        <div class="card-bonuses">
          <div class="card-bonuses__img card-bonuses__img2">
            <img src="../assets/svg/frames_crystals.svg" />
          </div>
          <span>
            <p class="card-bonuses__label mt--0 mb--0 textcolor">Marcos y cristales</p>
          </span>
        </div>
      </div>
      <div class="m-text-info-silver color-text-bl textcolor card-bonuses__subtitle">Última actualización hace dos días</div>
    </div>
  </section>

  <section class="m-content-card textcolor m-color-grow-sub color-text-bl bg-color-lgrey">
    <div class="m-section-my-benefits-label mb--24">Mis prestaciones</div>
    <bm-tabs [tabs]="tabs" (selectedTab)="selectTab($event)"></bm-tabs>
    <div class="tab-content-wrapper" *ngIf="activedTab === 0">
      <div class="row">
        <div class="col-md-4">
          <div class="m-section-my-benefits-sub">Selecciona una prestación</div>
          <div class="form-group">
           <select class="custom-select select2" id="exampleFormControlSelect1">
            <option>Día Cama (201001)</option>
            <option>Día Cama (201001)</option>
           </select>
           <label for="exampleFormControlSelect1">Acceso Web</label>
          </div>
        </div>
      </div>
      <!-- <div class="m-content-info bg-color-lgrey">
        <strong>Cobertura preferente</strong><br /><br />
        <div class="m-grid m-tilte__info">
          <div>Código de prestación</div>
          <div>Arancel asociado a tu plan</div>
          <div>Arancel</div>
          <div>Tope anual por beneficiario</div>
        </div>
        <div class="m-grid m-descrip__info">
          <div>201001</div>
          <div>B1</div>
          <div>$3268</div>
          <div>9.500 UF</div>
        </div>
      </div> -->
      <div class="m-section-canvas section-canvas row">
        <div class="canvas1 canvas col-md-8">
          <div class="canvas__head">
            <h3 class="canvas__title textcolor">
              Cobertura preferente
            </h3>
            <p class="canvas__tope">
              <span tooltip="<div class='tooltip-simple'>Monto máximo que cubre la Isapre por cada prestación de salud, indicado en UF o Veces Arancel (VA).</div>" [options]="toolOptions" class="material-tooltip">Tope por evento:</span>
              <strong>Sin tope</strong>
              <span class="material-icons green">&#xe52d;</span>
            </p>
            <p class="canvas__tope">
              <span tooltip="<div class='tooltip-simple'>Monto máximo en pesos que cubre la Isapre dentro de un año por todas las prestaciones, indicado en UF o
Veces Arancel (VA).</div>" [options]="toolOptions" class="material-tooltip">Tope anual: </span>
              <strong>Sin tope</strong>
              <span class="material-icons green">&#xe52d;</span>
            </p>
          </div>
          <canvas
            baseChart
            [data]="barChartData"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [type]="'bar'"
          >
          </canvas>


          <div class="providers__section">
            <div class="row">
              <div class="col-md-3 providers__column providers__column1">
                <h3 class="textcolor">
                  Prestadores con cobertura al 100%
                  <a href="/providers" class="providers__link">
                    <span class="material-icons linkcolor">&#xe5e1;</span>
                  </a>
                </h3>
                <div class="providers__column__item providers">
                  <div class="providers__column__scroll">
                    <ul>
                      <li>
                        <img src="../assets/img/davila.png" alt="" />
                        <div tooltip="<div class='tooltip-table'><h3>Clínica Dávila</h3><table><tr><td><strong>100%</strong></td><td>de cobertura preferente</td></tr><tr><td><span class='material-icons symbol'>&#xf109;</span></td><td>Solo con médicos staff</td></tr><tr><td><span class='material-icons symbol'>&#xea45;</span></td><td>Habitación doble</td></tr><tr><td><span class='material-icons symbol'>&#xf1b6;</span></td><td>Sólo con bonos</td></tr><tr><td><span class='material-icons'>&#xe0c8;</span></td><td><a href='' target='_blank'>Ver ubicación</a></td></tr></table></div>" [options]="toolOptions" class="eyetooltip">
                          <span class="material-icons">&#xe8f4;</span>Ver detalle
                        </div>
                        <a href="" class="adress linkcolor">
                          <span class="material-icons">&#xe0c8;</span>
                          Ver ubicación
                        </a>
                      </li>
                      <li>
                        <img src="../assets/img/vespucio.png" alt="" />
                        <div tooltip="<div class='tooltip-table'><h3>Clínica Dávila</h3><table><tr><td><strong>100%</strong></td><td>de cobertura preferente</td></tr><tr><td><span class='material-icons symbol'>&#xf109;</span></td><td>Solo con médicos staff</td></tr><tr><td><span class='material-icons symbol'>&#xea45;</span></td><td>Habitación doble</td></tr><tr><td><span class='material-icons symbol'>&#xf1b6;</span></td><td>Sólo con bonos</td></tr><tr><td><span class='material-icons'>&#xe0c8;</span></td><td><a href='' target='_blank'>Ver ubicación</a></td></tr></table></div>" [options]="toolOptions" class="eyetooltip">
                          <span class="material-icons">&#xe8f4;</span>Ver detalle
                        </div>
                        <a href="" class="adress linkcolor">
                          <span class="material-icons">&#xe0c8;</span>
                          Ver ubicación
                        </a>
                      </li>
                      <li>
                        <img src="../assets/img/sm.png" alt="" />
                        <div tooltip="<div class='tooltip-table'><h3>Clínica Dávila</h3><table><tr><td><strong>100%</strong></td><td>de cobertura preferente</td></tr><tr><td><span class='material-icons symbol'>&#xf109;</span></td><td>Solo con médicos staff</td></tr><tr><td><span class='material-icons symbol'>&#xea45;</span></td><td>Habitación doble</td></tr><tr><td><span class='material-icons symbol'>&#xf1b6;</span></td><td>Sólo con bonos</td></tr><tr><td><span class='material-icons'>&#xe0c8;</span></td><td><a href='' target='_blank'>Ver ubicación</a></td></tr></table></div>" [options]="toolOptions" class="eyetooltip">
                          <span class="material-icons">&#xe8f4;</span>Ver detalle
                        </div>
                        <a href="" class="adress linkcolor">
                          <span class="material-icons">&#xe0c8;</span>
                          Ver ubicación
                        </a>
                      </li>
                      <li>
                        <img src="../assets/img/condes.png" alt="" />
                        <div tooltip="<div class='tooltip-table'><h3>Clínica Dávila</h3><table><tr><td><strong>100%</strong></td><td>de cobertura preferente</td></tr><tr><td><span class='material-icons symbol'>&#xf109;</span></td><td>Solo con médicos staff</td></tr><tr><td><span class='material-icons symbol'>&#xea45;</span></td><td>Habitación doble</td></tr><tr><td><span class='material-icons symbol'>&#xf1b6;</span></td><td>Sólo con bonos</td></tr><tr><td><span class='material-icons'>&#xe0c8;</span></td><td><a href='' target='_blank'>Ver ubicación</a></td></tr></table></div>" [options]="toolOptions" class="eyetooltip">
                          <span class="material-icons">&#xe8f4;</span>Ver detalle
                        </div>
                        <a href="" class="adress linkcolor">
                          <span class="material-icons">&#xe0c8;</span>
                          Ver ubicación
                        </a>
                      </li>
                      <li>
                        <img src="../assets/img/condes.png" alt="" />
                        <div tooltip="<div class='tooltip-table'><h3>Clínica Dávila</h3><table><tr><td><strong>100%</strong></td><td>de cobertura preferente</td></tr><tr><td><span class='material-icons symbol'>&#xf109;</span></td><td>Solo con médicos staff</td></tr><tr><td><span class='material-icons symbol'>&#xea45;</span></td><td>Habitación doble</td></tr><tr><td><span class='material-icons symbol'>&#xf1b6;</span></td><td>Sólo con bonos</td></tr><tr><td><span class='material-icons'>&#xe0c8;</span></td><td><a href='' target='_blank'>Ver ubicación</a></td></tr></table></div>" [options]="toolOptions" class="eyetooltip">
                          <span class="material-icons">&#xe8f4;</span>Ver detalle
                        </div>
                        <a href="" class="adress linkcolor">
                          <span class="material-icons">&#xe0c8;</span>
                          Ver ubicación
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-3 providers__column providers__column2">
                <h3 class="textcolor">
                  Prestadores con cobertura al 80%
                </h3>
                <div class="providers__column__item providers">
                  <div class="providers__column__scroll">
                    <ul>
                      <li>
                        <img src="../assets/img/vespucio.png" alt="" />
                        <div tooltip="<div class='tooltip-table'><h3>Clínica Dávila</h3><table><tr><td><strong>100%</strong></td><td>de cobertura preferente</td></tr><tr><td><span class='material-icons symbol'>&#xf109;</span></td><td>Solo con médicos staff</td></tr><tr><td><span class='material-icons symbol'>&#xea45;</span></td><td>Habitación doble</td></tr><tr><td><span class='material-icons symbol'>&#xf1b6;</span></td><td>Sólo con bonos</td></tr><tr><td><span class='material-icons'>&#xe0c8;</span></td><td><a href='' target='_blank'>Ver ubicación</a></td></tr></table></div>" [options]="toolOptions" class="eyetooltip">
                          <span class="material-icons">&#xe8f4;</span>Ver detalle
                        </div>
                        <a href="" class="adress linkcolor">
                          <span class="material-icons">&#xe0c8;</span>
                          Ver ubicación
                        </a>
                      </li>
                      <li>
                        <img src="../assets/img/sm.png" alt="" />
                        <div tooltip="<div class='tooltip-table'><h3>Clínica Dávila</h3><table><tr><td><strong>100%</strong></td><td>de cobertura preferente</td></tr><tr><td><span class='material-icons symbol'>&#xf109;</span></td><td>Solo con médicos staff</td></tr><tr><td><span class='material-icons symbol'>&#xea45;</span></td><td>Habitación doble</td></tr><tr><td><span class='material-icons symbol'>&#xf1b6;</span></td><td>Sólo con bonos</td></tr><tr><td><span class='material-icons'>&#xe0c8;</span></td><td><a href='' target='_blank'>Ver ubicación</a></td></tr></table></div>" [options]="toolOptions" class="eyetooltip">
                          <span class="material-icons">&#xe8f4;</span>Ver detalle
                        </div>
                        <a href="" class="adress linkcolor">
                          <span class="material-icons">&#xe0c8;</span>
                          Ver ubicación
                        </a>
                      </li>
                      <li>
                        <img src="../assets/img/condes.png" alt="" />
                        <div tooltip="<div class='tooltip-table'><h3>Clínica Dávila</h3><table><tr><td><strong>100%</strong></td><td>de cobertura preferente</td></tr><tr><td><span class='material-icons symbol'>&#xf109;</span></td><td>Solo con médicos staff</td></tr><tr><td><span class='material-icons symbol'>&#xea45;</span></td><td>Habitación doble</td></tr><tr><td><span class='material-icons symbol'>&#xf1b6;</span></td><td>Sólo con bonos</td></tr><tr><td><span class='material-icons'>&#xe0c8;</span></td><td><a href='' target='_blank'>Ver ubicación</a></td></tr></table></div>" [options]="toolOptions" class="eyetooltip">
                          <span class="material-icons">&#xe8f4;</span>Ver detalle
                        </div>
                        <a href="" class="adress linkcolor">
                          <span class="material-icons">&#xe0c8;</span>
                          Ver ubicación
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-3 providers__column providers__column3">
                <h3 class="textcolor">
                  Prestadores con cobertura al 70%
                </h3>
                <div class="providers__column__item providers">
                  <div class="providers__column__scroll">
                    <ul>
                      <li>
                        <img src="../assets/img/sm.png" alt="" />
                        <div tooltip="<div class='tooltip-table'><h3>Clínica Dávila</h3><table><tr><td><strong>100%</strong></td><td>de cobertura preferente</td></tr><tr><td><span class='material-icons symbol'>&#xf109;</span></td><td>Solo con médicos staff</td></tr><tr><td><span class='material-icons symbol'>&#xea45;</span></td><td>Habitación doble</td></tr><tr><td><span class='material-icons symbol'>&#xf1b6;</span></td><td>Sólo con bonos</td></tr><tr><td><span class='material-icons'>&#xe0c8;</span></td><td><a href='' target='_blank'>Ver ubicación</a></td></tr></table></div>" [options]="toolOptions" class="eyetooltip">
                          <span class="material-icons">&#xe8f4;</span>Ver detalle
                        </div>
                        <a href="" class="adress linkcolor">
                          <span class="material-icons">&#xe0c8;</span>
                          Ver ubicación
                        </a>
                      </li>
                      <li>
                        <img src="../assets/img/condes.png" alt="" />
                        <div tooltip="<div class='tooltip-table'><h3>Clínica Dávila</h3><table><tr><td><strong>100%</strong></td><td>de cobertura preferente</td></tr><tr><td><span class='material-icons symbol'>&#xf109;</span></td><td>Solo con médicos staff</td></tr><tr><td><span class='material-icons symbol'>&#xea45;</span></td><td>Habitación doble</td></tr><tr><td><span class='material-icons symbol'>&#xf1b6;</span></td><td>Sólo con bonos</td></tr><tr><td><span class='material-icons'>&#xe0c8;</span></td><td><a href='' target='_blank'>Ver ubicación</a></td></tr></table></div>" [options]="toolOptions" class="eyetooltip">
                          <span class="material-icons">&#xe8f4;</span>Ver detalle
                        </div>
                        <a href="" class="adress linkcolor">
                          <span class="material-icons">&#xe0c8;</span>
                          Ver ubicación
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-3 providers__column providers__column4">
                <h3 class="textcolor">
                  Prestadores con cobertura al 50%
                </h3>
                <div class="providers__column__item providers">
                  <div class="providers__column__scroll">
                    <ul>
                      <li>
                        <img src="../assets/img/condes.png" alt="" />
                        <div tooltip="<div class='tooltip-table'><h3>Clínica Dávila</h3><table><tr><td><strong>100%</strong></td><td>de cobertura preferente</td></tr><tr><td><span class='material-icons symbol'>&#xf109;</span></td><td>Solo con médicos staff</td></tr><tr><td><span class='material-icons symbol'>&#xea45;</span></td><td>Habitación doble</td></tr><tr><td><span class='material-icons symbol'>&#xf1b6;</span></td><td>Sólo con bonos</td></tr><tr><td><span class='material-icons'>&#xe0c8;</span></td><td><a href='' target='_blank'>Ver ubicación</a></td></tr></table></div>" [options]="toolOptions" class="eyetooltip">
                          <span class="material-icons">&#xe8f4;</span>Ver detalle
                        </div>
                        <a href="" class="adress linkcolor">
                          <span class="material-icons">&#xe0c8;</span>
                          Ver ubicación
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="canvas2 canvas col-md-4">
          <div class="canvas__head">
            <h3 class="canvas__title textcolor">
              Cobertura libre elección
            </h3>
            <p class="canvas__tope">
              <span tooltip="<div class='tooltip-simple'>Monto máximo que cubre la Isapre por cada prestación de salud, indicado en UF o Veces Arancel (VA).</div>" [options]="toolOptions" class="material-tooltip">Tope por evento:</span>
              <strong>5,5 UF</strong>
              <span class="material-icons green">&#xe52d;</span>
            </p>
            <p class="canvas__tope">
              <span tooltip="<div class='tooltip-simple'>Monto máximo en pesos que cubre la Isapre dentro de un año por todas las prestaciones, indicado en UF o Veces Arancel (VA).</div>" [options]="toolOptions" class="material-tooltip">Tope anual: </span>
              <strong>Sin tope</strong>
              <span class="material-icons red">&#xe002;</span>
            </p>
          </div>
          <canvas
            height="310"
            baseChart
            [data]="barChartData2"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [type]="'bar'"
          >
          </canvas>
          <div class="providers__section">
            <div class="row">
              <div class="col-md-12 providers__column">
                <div class="providers__column__item">
                  <div class="providers__column__scroll">
                    <ul>
                      <li>
                        <img src="../assets/img/condes.png" alt="" />
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="m-content-card-update textcolor mt--0 mb--0">
      Última actualización hace dos días
    </p>
  </section>
</div>
