/* You can add global styles to this file, and also import other style files */
div,
span {
  font-family: Roboto;
}
body {
  margin: 10px auto;
  width: 100%;
}

* {
  box-sizing: border-box;
}
.mb--0{
  margin-bottom: 0;
}
.mt--0{
  margin-top: 0;
}
.mb--5{
  margin-bottom: 5px;
}
.mb--12 {
  margin-bottom: 12px;
}
.mb--24 {
  margin-bottom: 24px;
}
.mb--32 {
  margin-bottom: 32px;
}

.h-width--100 {
  width: 100%;
}

.h-none {
  display: none;
}

.h-m--0 {
  margin: 0;
}

.sitebg{
  background-color: #AE1A21;
}
.sitebgalt{
  background-color: #AE1A21;
}
.textcolor{
  color: #323232;
}
.linkcolor{
  color: #4C97B7;
}
.ffamily{
  font-family: 'Work Sans';
  div, span{
  	font-family: 'Work Sans';
  }
  .material-icons{
  	font-family: 'Material Icons';
  }
}

.providers__section{
	.providers__column{
		&.providers__column1{
		  h3:after, ul li:after{
		      background-color: #357B99;
		  }
		}
		&.providers__column2{
		  h3:after, ul li:after{
		      background-color: #4C97B7;
		  }
		}
		&.providers__column3{
		  h3:after, ul li:after{
		      background-color: #83C0DA;
		  }
		}
		&.providers__column4{
		  h3:after, ul li:after{
		      background-color: #B8EAFF;
		  }
		}
	}
}

.table-prestadores{
	th, td{
		color: #323232;	
	}
}