.sitebg{
  background-color: #AE1A21;
}
.sitebgalt{
  background-color: #AE1A21;
}
.textcolor{
  color: #323232;
}
.linkcolor{
  color: #4C97B7;
}
.ffamily{
  font-family: 'Work Sans';
  div, span{
  	font-family: 'Work Sans';
  }
  .material-icons{
  	font-family: 'Material Icons';
  }
}