.sitebg{
  background-color: #AE1A21;
}
.sitebgalt{
  background-color: #AE1A21;
}
.textcolor{
  color: #323232;
}
.linkcolor{
  color: #4C97B7;
}
.ffamily{
  font-family: 'Work Sans';
  div, span{
  	font-family: 'Work Sans';
  }
  .material-icons{
  	font-family: 'Material Icons';
  }
}

.providers__section{
	.providers__column{
		&.providers__column1{
		  h3:after, ul li:after{
		      background-color: #357B99;
		  }
		}
		&.providers__column2{
		  h3:after, ul li:after{
		      background-color: #4C97B7;
		  }
		}
		&.providers__column3{
		  h3:after, ul li:after{
		      background-color: #83C0DA;
		  }
		}
		&.providers__column4{
		  h3:after, ul li:after{
		      background-color: #B8EAFF;
		  }
		}
	}
}

.table-prestadores{
	th, td{
		color: #323232;	
	}
}