/* You can add global styles to this file, and also import other style files */
div,
span {
  font-family: Roboto;
}
body {
  margin: 10px auto;
  width: 100%;
}

* {
  box-sizing: border-box;
}
.mb--0{
  margin-bottom: 0;
}
.mt--0{
  margin-top: 0;
}
.mb--5{
  margin-bottom: 5px;
}
.mb--12 {
  margin-bottom: 12px;
}
.mb--24 {
  margin-bottom: 24px;
}
.mb--32 {
  margin-bottom: 32px;
}

.h-width--100 {
  width: 100%;
}

.h-none {
  display: none;
}

.h-m--0 {
  margin: 0;
}

.sitebg{
  background-color: #173181;
}
.sitebgalt{
  background-color: #173181;
}
.textcolor{
  color: #173181;
}
.linkcolor{
  color: #46a088;
}
.ffamily{
  font-family: 'Roboto';
  div, span{
  	font-family: 'Roboto';
  }
  .material-icons{
  	font-family: 'Material Icons';
  }
}

::ng-deep{
  .dashtooltip{
    background-color: #173181 !important;
  }
}

.providers__section{
  .providers__column{
    &.providers__column1{
      h3:after, ul li:after{
          background-color: #2D816B;
      }
    }
    &.providers__column2{
      h3:after, ul li:after{
          background-color: #46A088;
      }
    }
    &.providers__column3{
      h3:after, ul li:after{
          background-color: #82C6B2;
      }
    }
    &.providers__column4{
      h3:after, ul li:after{
          background-color: #BAEDDD;
      }
    }
  }
}

.table-prestadores{
  th, td{
    color: #173181; 
  }
}