<div class="verification">
  <div class="verification__box">
    <h4 class="text-center verification__box__title">
      <strong>Alcanzaste el límite de intentos</strong>
    </h4>
    <h6 class="text-center mb-5">
      Inténtalo de nuevo en 10 minutos.
    </h6>
    <div class="row">
      <div class="col-md-6 offset-md-3 mb-4">
          <a href="#" class="btn btn-primary disabled w-100" tabindex="-1" role="button" aria-disabled="true">
          reenviar código</a> 
        </div>
      </div>
      <div class="col-md-12">
        <p class="text-center">
          ¿Necesitas ayuda? <br>
          Llámanos al <a href="tel:6006003600"><strong>600 600 3600</strong></a>
        </p>
      </div>
    </div>
</div>