<div class="body"></div>

<div class="modalseguimiento">

  <!-- Modal Seguimiento Full -->
  <div class="modalseguimiento__body" [ngClass]="active? 'modalseguimiento__body--active' : ''">
    <button class="modalseguimiento__close" (click)="seguimientoClose()">
      <i class="material-icons">close</i>
    </button>
    <h5 class="modalseguimiento__title mb-2 pb-1">
      <strong>Tienes pendiente el detalle de prestación y nombres de los médicos</strong>
    </h5>
    <h6 class="mb-4 pb-2">
      Para completar el valor total en la boleta, es necesario el detalle de las prestaciones cobradas como Honorarios Médicos, Derecho a Pabellón, otros profesionales, anestesia y prestaciones adicionales.
    </h6>
    <div class="modalseguimiento__box">
      <img src="assets/img/icon-riddle.png" alt="Riddle">
      <div>
        <h6 class="mb-2">
          <strong>¿Qué debo hacer?</strong>
        </h6>
        <h6 class="mb-0">
          Adjunta la boleta/factura y el detalle de las prestaciones (cantidad y valor). Si no lo tienes, pídelo en tu centro médico con la fecha original de la atención.
        </h6>
      </div>
    </div>
    <h6 class="mb-1">
      <strong>Adjunta el documento correspondiente</strong>
    </h6>
    <h6 class="mb-4">
      Asegúrate de incluir una imagen con datos legibles y capturada desde el frente, sin perspectivas.
    </h6>
    <h6 class="text-center mb-3">
      1. Orden médica
    </h6>

    <div class="row no-gutters mb-4"> 
     <div class="col rounded-sm"> 
      <div class="drag-area p-4 rounded-sm text-center"> 
       <div class="d-none d-lg-block"> 
        <i class="material-icons md-36 text-primary">flip_to_front</i>
        <p>Arrastra y suelta el archivo o <a href="#">haz clic aquí para buscarlo en tu computador</a></p>
       </div>
       <div class="d-block d-lg-none"> 
        <i class="material-icons md-36 text-primary">attach_file</i>
        <p>Haz <a href="#">click aquí </a>para subir el archivo desde tu celular</p>
       </div>
       <small class="text-info">JPG/PNG/PDF. Máximo: 5 mb.</small>
      </div> 
     </div>
    </div>

    <div class="row">
      <div class="col-md-3 offset-md-6 order-md-1 order-2">
        <button class="btn w-100 btn-outline-primary" (click)="seguimientoClose()">CANCELAR</button>
      </div>
      <div class="col-md-3 order-md-2 order-1 mb-2">
        <button class="btn w-100 btn-primary disabled">ADJUNTAR</button>
      </div>
    </div>
  </div>

  <!-- Modal Seguimiento No vigente -->
  <div class="modalseguimiento__body" [ngClass]="active? 'modalseguimiento__body--active' : ''">
    <button class="modalseguimiento__close" (click)="seguimientoClose()">
      <i class="material-icons">close</i>
    </button>
    <h5 class="modalseguimiento__title mb-2 pb-1">
      <strong>El beneficiario no está vigente</strong>
    </h5>
    <h6 class="mb-4 pb-2">
      El beneficiario indicado en la boleta/factura no estaba vigente en el plan de salud en la fecha en que recibió la atención.
    </h6>
    <div class="modalseguimiento__box">
      <img src="" alt="">
      <div>
        <h6 class="mb-2">
          <strong>¿Qué debo hacer?</strong>
        </h6>
        <h6 class="mb-0">
          Si hay un error en la fecha de la boleta, pide un nuevo documento a tu médico o centro médico.
        </h6>
      </div>
    </div>
  </div>

</div>