@import "../node_modules/bootstrap-banmedica/css/styles-banmedica.css";

.dashtooltip{
  padding: 0px !important;
}

// Tooltip Vidatres
.tooltip-simple, .tooltip-table{
  background: #173181;
}
// Tooltip Banmedica
.tooltip-simple, .tooltip-table{
  background: #AE1A21;
}

.tooltip-simple{
  font-size: 14px;
  line-height: 20px;
  width: 252px;
  padding: 16px;
  border-radius: 8px;
  color: #fff;
}

.tooltip-table{
  font-size: 14px;
  line-height: 20px;
  width: 252px;
  padding: 16px;
  border-radius: 8px;
  color: #fff;
  text-align: left;
  h3{
    font-size: 16px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 12px;
    color: #fff;
  }
  strong{
    font-size: 19px;
    line-height: 20px;
    font-weight: 700;
  }
  table{
    tr{
      td{
        vertical-align: bottom;
        padding: 0;
        padding-bottom: 12px;
        .material-icons{
          font-size: 20px;
          &.symbol{
            font-family: 'Material Symbols outlined';
          }
        }
        a{
          text-decoration: underline;
          color: #fff;
          &:hover{
            text-decoration: none;
          }
        }
        &:first-child{
          padding-right: 10px;
        }
      }
      &:last-child{
        td{
          padding-bottom: 0;
        }
      }
    }
  }
}