@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.card-asegurado-wrapper{
	position: relative;
	padding: 0 15px;
	width: 1270px;
	max-width: 100%;
	margin: 0 auto;
	margin-top: 60px;
	font-family: 'Poppins', sans-serif;
}