<div class="body"></div>

<div class="modalbenefits">
  <div class="modalbenefits__body">
    <h3 class="modalbenefits__title">
      Tenemos estos beneficios para ti
    </h3>
    <div class="modalbenefits__card">
      <div class="modalbenefits__top">
        <img src="" alt="Imagen Beneficio">
      </div>
      <div class="modalbenefits__bottom">
        <h3 class="modalbenefits__card__title">
          ¡Tu estilo de vida también tiene un plan!
        </h3>
        <p>
          Cámbiate al Vanguardia Premium Lite Ultra CB/2109 y mejora tus beneficios.
        </p>
        <ul>
          <li>
            Kinesiología sin tope en clínica preferente.
          </li>
          <li>
            Más cobertura en psicología y psiquiatría.
          </li>
          <li>
            Mejor cobertura en atenciones traumatológicas y hasta 100% de cobertura en hospitalizaciones.
          </li>
        </ul>
        <div class="button">
          me interesa
        </div>
      </div>
    </div>
  </div>
</div>