<div class="body"></div>

<div class="modalbenefits">
  <div class="modalbenefits__body step1">
    <h5 class="modalbenefits__title">
      <strong>Tenemos estos beneficios para ti</strong>
    </h5>
    <div class="modalbenefits__card">
      <div class="modalbenefits__top">
        <img src="" alt="Imagen Beneficio">
      </div>
      <div class="modalbenefits__bottom">
        <h6 class="modalbenefits__card__title">
          <strong>¡Tu estilo de vida también tiene un plan!</strong>
        </h6>
        <p>
          Cámbiate al Vanguardia Premium Lite Ultra CB/2109 y mejora tus beneficios.
        </p>
        <ul>
          <li>
            <p>Kinesiología sin tope en clínica preferente.</p>
          </li>
          <li>
            <p>Más cobertura en psicología y psiquiatría.</p>
          </li>
          <li>
            <p>Mejor cobertura en atenciones traumatológicas y hasta 100% de cobertura en hospitalizaciones.</p>
          </li>
        </ul>
        <button type="button" class="btn btn-sm btn-primary w-100">Me interesa</button>          
      </div>
    </div>
  </div>
  <!-- <div class="modalbenefits__body step2">
    <h5 class="modalbenefits__title">
      <strong>Compara fácilmente las características de ambos planes</strong>
    </h5>
    <div class="row">
      <div class="col-md-6 order-md-1 order-2">
        <h5 class="mb-2">
          <strong>Plan actual</strong>
        </h5>
        <div>
          <h6>
            <strong>
              Sport Preferente Elite C3/A19
            </strong>
          </h6>
          <div class="row mb-2">
            <div class="col-md-6">
              <p class="mb-0">
                Valor mensual
              </p>
              <h4>
                <strong>$ 160.000 / UF 5,2</strong>
              </h4>
            </div>
            <div class="col-md-6">
              <div class="message message-warning message-action">
               <div class="message-side">
                <div class="message-icon bigger">
                 <span class="material-icons">paid </span>
                </div>
                <span>
                  <small>Adicional a pagar</small>
                  <p class="mb-0">
                    <strong>
                      $ 20.000 / UF 0,8
                    </strong>
                  </p>
                </span>
               </div>
              </div>
            </div>
          </div>
          <p>
            <strong>Coberturas preferentes</strong>
          </p>
          <div class="table-responsive">
           <table class="id-table table table-combined table-striped">
            <thead>
             <tr>
              <th rowspan="2">Prestador</th>
              <th>Coberturas</th>
             </tr>
             <tr>
               <th>Hosp.</th>
               <th>Amb.</th>
               <th>Urg.</th>
             </tr>
            </thead>
            <tbody>
             <tr>
              <td rowspan="1" class="align-middle">Clínica Alemana</td>
              <td>100%</td>
              <td>90%</td>
              <td>80%</td>
             </tr>
             <tr>
              <td rowspan="1" class="align-middle">Clínica U. de Los Andes</td>
              <td>100%</td>
              <td>90%</td>
              <td>80%</td>
             </tr>
             <tr>
              <td rowspan="1" class="align-middle">Clínica Las Condes</td>
              <td>100%</td>
              <td>90%</td>
              <td>80%</td>
             </tr>
            </tbody>
           </table>
          </div>
          <p>
           <a href="#" class="link link-icon">
            <i class="material-icons link">note</i>
            <span>Ver detalle del plan</span>
           </a>
          </p>
        </div>
      </div>
      <div class="col-md-6 order-md-2 order-1">
        <h5 class="mb-2">
          <strong>Nuevo plan</strong>
        </h5>
        <div>
          <h6>
            <strong>
              Vanguardia Premium Lite Ultra CB/2109 
            </strong>
          </h6>
          <div class="row mb-2">
            <div class="col-md-6">
              <p class="mb-0">
                Valor mensual
              </p>
              <h4>
                <strong>$ 150.000 / UF 4,8</strong>
              </h4>
            </div>
            <div class="col-md-6">
              <div class="message message-success message-action">
               <div class="message-side">
                <div class="message-icon bigger">
                 <span class="material-icons">paid </span>
                </div>
                <span>
                  <small>Excedentes</small>
                  <p>
                    <strong>
                      $ 10.000 / UF 0,4
                    </strong>
                  </p>
                </span>
               </div>
              </div>
            </div>
          </div>
          <p>
            <strong>Coberturas preferentes</strong>
          </p>
          <div class="table-responsive">
           <table class="id-table table table-combined table-striped">
            <thead>
             <tr>
              <th rowspan="2">Prestador</th>
              <th>Coberturas</th>
             </tr>
             <tr>
               <th>Hosp.</th>
               <th>Amb.</th>
               <th>Urg.</th>
             </tr>
            </thead>
            <tbody>
             <tr>
              <td rowspan="1" class="align-middle">Clínica Alemana</td>
              <td>100%</td>
              <td>90%</td>
              <td>80%</td>
             </tr>
             <tr>
              <td rowspan="1" class="align-middle">Clínica U. de Los Andes</td>
              <td>100%</td>
              <td>90%</td>
              <td>80%</td>
             </tr>
             <tr>
              <td rowspan="1" class="align-middle">Clínica Las Condes</td>
              <td>100%</td>
              <td>90%</td>
              <td>80%</td>
             </tr>
            </tbody>
           </table>
          </div>
          <p>
           <a href="#" class="link link-icon">
            <i class="material-icons link">note</i>
            <span>Ver detalle del plan</span>
           </a>
          </p>
        </div>
        <button type="button" class="btn btn-primary w-100">Me interesa este plan</button> 
      </div>
    </div>
  </div> -->
  <!-- <div class="modalbenefits__body step3">
    <h5 class="modalbenefits__title">
      <strong>¡Estás tomando una buena decisión!</strong>
    </h5>
    <p>
      El plan <strong>Vanguardia Premium Lite Ultra CB/2109</strong> será incluido en tu cotización mensual de la Isapre y tendrá el siguiente costo:
    </p>
    <div class="message message-primary message-action mb-3">
     <div class="message-side">
      <span><strong>Total cotización pactada:</strong> precio base factor grupo familiar + GES + producto adicional</span>
     </div>
    </div>
    <p class="mb-3">
      Al hacer click en el botón “Contratar”, estarás firmando un nuevo contrato (FUN), que incorpora tu cambio de plan de salud. El contrato (FUN) será enviado a tu correo electrónico al día hábil siguiente de haber firmado (con copia a tu empleador).
    </p>
    <p class="mb-1">
      <strong>Enviaremos un comprobante al siguiente correo electrónico</strong>
    </p>
    <p class="mb-3">
      Si editas tu correo electrónico este cambio será sólo para este trámite en particular.
    </p>
    <div class="row">
      <div class="col-md-6 mb-2">
        <div class="form-group fg-icon fg-icon-action">
         <input type="text" class="form-control" id="usr" value="usuario@email.com" placeholder=" " disabled>
         <i class="material-icons">mail</i>
         <label for="usr">Correo electrónico</label>
         <a href="#" data-toggle="modal" data-target=".bd-example-modal-md">
          <i class="material-icons">edit</i>
         </a>
        </div>
      </div>
    </div>
    <p class="mb-3">
      Acepto los <a href="" target="_blank">Términos y condiciones</a>
    </p>
    <div class="row">
      <div class="col-md-4 offset-md-8">
        <button type="button" class="btn btn-primary w-100">Contratar</button> 
      </div>
    </div>
  </div> -->
  <!-- <div class="modalbenefits__body step4">
    <h3 class="mb-2">
      <strong>¡Solicitud enviada! </strong>
    </h3>
    <p class="mb-4">
      Un ejecutivo se pondrá en contacto contigo dentro de los próximos días. 
      Si tienes alguna consulta, no dudes en llamarnos a nuestro Contact Center al 600 600 3600.
    </p>
    <div class="row">
      <div class="col-md-5 offset-md-2">
        <button type="button" class="btn btn-outline-primary w-100">FINALIZAR</button> 
      </div>
      <div class="col-md-5">
        <button type="button" class="btn btn-primary w-100">SEGUIR VIENDO BENEFICIOS</button> 
      </div>
    </div>
  </div> -->
</div>