@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.body{
	background-color: grey;
	display: block;
	height: 200vh;
}


.modal-title{
	font-size: 19px;
	line-height: 23px;
	margin: 0;
	margin-bottom: 20px;
	font-weight: 600;
}

.modalbenefits__scroll{
	overflow: scroll;
}

.modalbenefits__wrapper{
	display: flex;
	gap: 20px;
}

.modalbenefits__card{
	border-radius: 10px;
	border: 2px solid #EBEBEB;
	border-top: none;
	width: 338px;
	position: relative;
	.modalbenefits__top{
		overflow: hidden;
		border-radius: 10px 10px 0 0; 
		height: 160px;
		img{
			width: 100%;
			background-color: grey;
			display: block;
		}
	}
	.modalbenefits__bottom{
		border-radius: 0 0 10px 10px ; 
		border-top: none;
		padding: 16px;
		padding-bottom: 50px;
		.modalbenefits__card__title{
			margin-bottom: 16px;
		}
		p{
			margin-bottom: 5px;
		}
		ul{
			padding-left: 10px;
			margin-bottom: 24px;
		}
		.button{
			border-radius: 60px; 
			display: block;
			border: none;
			text-align: center;
			line-height: normal;
			letter-spacing: -0.42px;
			cursor: pointer;
		}
		.btn{
			position: absolute;
			bottom: 16px;
			left: 16px;
			display: inline-block;
			width: calc(100% - 32px);
		}
	}
}

.modalbenefits{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100vh;
	background-color: rgba(255,255,255,0.9);
	@media (max-width: 768px){
		.mbl-center{
			text-align: center;
		}
		.flex-left{
			flex-direction: initial;
		}
		.back-btn{
			justify-content: center;
			margin-top: 16px;
		}
		.order-2{
			.btn{
				margin-top: 16px;
			}
		}
	}
	.back-btn{
		cursor: pointer;
	}
	.plantitle{
		position: relative;
		padding-left: 24px;
		display: inline-block;
		.material-icons{
			position: absolute;
			margin-right: 4px;
			top: 0;
			left: 0;
			font-size: 20px;
		}
	}
	.table-responsive{
		@media (max-width: 768px){
			display: none;
		}
	}
	.accordionblock{
		padding-bottom: 24px;
		display: none;
		@media (max-width: 768px){
			display: block;
		}
		.accordionblock-item{
			border-radius: 10px;
			overflow: hidden;
			border: 1px solid #ebebeb;
			margin-bottom: 24px;
			&:last-child{
				margin-bottom: 0;
			}
			.accordionblock-item-arrow{
				position: absolute;
				display: inline-block;
				border-radius: 50%;
				right: 16px;
				top: 16px;
				background-repeat: no-repeat;
				background-position: center;
				background-color: #323232;
				width: 14px;
				height: 14px;
				transition: .5s;
				transform: rotate(0deg);
				.material-icons{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
					color: #FAFAFA;
					font-size: 14px;
				}
			}
			.accordionblock-item-trigger{
				padding: 14px;
				background-color: #ebebeb;
				cursor: pointer;
				position: relative;
				&.active{
					.accordionblock-item-arrow{
						transform: rotate(180deg);
					}
				}
				&.active + .accordionblock-item-body{
					display: block;
				}
			}
			.accordionblock-item-body{
				padding: 14px;
				padding-bottom: 12px;
				display: none;
				p{
					width: 100%;
					position: relative;
					span{
						text-align: right;
						position: absolute;
						top: 0;
						right: 0;
					}
				}
			}
		}
	}
	.tablebox{
		border-radius: 10px;
		border: 2px solid #EBEBEB; 
		overflow: hidden;
		.tablebox-top{
			padding: 16px;
			background: #FAFAFA; 
			&.tablebox-top-alt{
				background: #9BA5B7; 
				h6, p{
					color: #fff;
				}
			}
		}
		.tablebox-bottom{
			padding: 16px;
		}
	}
	.modalbenefits__body{
		box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.25); 
		border-radius: 10px;
		background: #FFF; 
		display: inline-block;
		padding: 30px;
		padding-top: 15px;
		position: absolute;
		top: 30px;
		left: 50%;
		max-width: 100%;
		transform: translate(-50%, 0);
		display: none;
		&.modalbenefits__body--active{
			display: inline-block;
		}
		.modalbenefits__box{
			width: 760px;
			max-width: 100%;
		}
		.custom-checkbox{
			p{
				display: inline-block;
			}
		}
		.message{
			padding: 8px;
			&.message-primary.message-action{
				color: inherit;
				max-width: 100%;
				.message-side{
					span{
						color: inherit;
					}
				}
			}
			.message-side{
				p{
					font-size: 15px;
					line-height: 20px;
				}
				small{
					font-size: 14px;
				}
			}
			.message-icon{
				margin-right: 5px;
				&.bigger{
					.material-icons{
						font-size: 24px;
					}
				}
			}
		}
		.tablewrapper{
			width: 1000px;
			max-width: 100%;
			padding: 0 10px;
			@media (max-width: 768px){
				padding: 0;
			}
		}
		.table{
			border-radius: 10px;
			overflow: hidden;
			box-shadow: 0 0 0 1px #EBEBEB;
			border-style: hidden;
			thead th, tbody td{
				padding: 7px 12px;
			}
			thead{
				th{
					border: 1px solid #EBEBEB;
					&:first-child{
						border-radius: 10px 0 0 0;
					}
				}
			}
		}
		.modalbenefits__close{
			display: inline-block;
			position: absolute;
			padding: 0;
			top: 15px;
			right: 15px;
			border: none;
			width: 24px;
			height: 24px;
			background: none;
			cursor: pointer;
			z-index: 2;
		}
		.modalbenefits__title{
			margin: 0;
			margin-bottom: 20px;
			padding-right: 40px;
		}
	}
}

@media (max-width: 768px){
	.modalbenefits__wrapper{
		gap: 10px;
	}
	.modalbenefits__body, .modalbenefits .modalbenefits__body{
		padding-left: 15px;
		padding-right: 15px;
		&:after{
			content: '';
			display: inline-block;
			position: absolute;
			width: 45px;
			height: 100%;
			right: 0;
			top: 0;
			background: rgb(2,0,36);
			background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%); 
		}
	}
	.modalbenefits__scroll{
		width: 100%;
		.modalbenefits__wrapper{
			&.modalbenefits__wrapper3{
				width: 900px;
			}
			&.modalbenefits__wrapper2{
				width: 600px;
			}
			&.modalbenefits__wrapper1{
				width: 300px;
			}
		}
	}
}

